*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family:'Courier New', Courier, monospace;
}
span{
    color: blue;
}
nav{
    background-color: rgb(43, 43, 44);
    height: 80px;
    width: 100%;
}
label.logo{
    color: white;
    font-size: 40px;
    line-height:80px;
    padding: 0;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin:  0 5px;
}
nav ul li a{
    text-transform: uppercase;
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
}
.active,a:hover{
    background:rgb(221, 16, 16);
    transition: 5ms;
}